<mat-card>
  {{ this.invoiceForm.value | json }}
  <form class="form-container" [formGroup]="invoiceForm" novalidatae (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Item" formControlName="item" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [matDatepicker]="datePicker"
        placeholder="Date"
        formControlName="date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [matDatepicker]="duePicker"
        placeholder="Due Date"
        formControlName="due"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="duePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #duePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Quantity"
        type="number"
        formControlName="qty"
      />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tax" type="number" formControlName="tax" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Rate" type="number" formControlName="rate" />
    </mat-form-field>

    <div>
      <button mat-raised-button type="submit" color="primary">Save</button
      ><button mat-raised-button type="reset">Cancel</button>
    </div>
  </form>
</mat-card>
